.learning-dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    padding: 20px 0; /* Vertical padding */
}

.dashboard-block {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    flex-basis: 50%;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
